$gradient-blue: #94c1f6;
$gradient-pink: #fdbdbd;

$theme-dark: #2c2d30;
$theme-dark-hover: #131414;
$theme-green: #aeeea4;
$theme-green-hover: #8de37f;
$theme-blue: #a3dae7;
$theme-blue-hover: #7cd2e6;
$theme-yellow: #fae1a2;
$theme-yellow-hover: #f9d375;
$theme-light: #e3e7f1;
$theme-light-hover: #d9dde6;
$theme-black: black;
$theme-black-hover: black;
$theme-white: white;
$theme-white-hover: white;
