.button {
  width: auto;
  text-align: center;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 16px;
  border: 1px solid transparent;
  color: black;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-small {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    height: 32px;
  }

  &-link {
    text-decoration: none;
  }

  &-icon {
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &-outline {
    border: 1px solid $theme-border;
    background-color: transparent;
  }

  &-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }

  &-light {
    background: $theme-light;

    &:hover {
      background: $theme-light-hover;
    }
  }

  &-dark {
    background: $theme-dark;
    color: white;
    &:hover {
      background: $theme-dark-hover;
    }
  }

  &-green {
    background: $theme-green;
    &:hover {
      background: $theme-green-hover;
    }
  }

  &-blue {
    background: $theme-blue;
    &:hover {
      background: $theme-blue-hover;
    }
  }

  &-yellow {
    background: $theme-yellow;
    &:hover {
      background: $theme-yellow-hover;
    }
  }

  &-red {
    background: $theme-red;
    color: white;
    &:hover {
      background: $theme-red-hover;
    }
  }

  &-black {
    background: $theme-black;
    color: white;
    &:hover {
      background: $theme-black-hover;
    }
  }

  &-white {
    background: $theme-white;
    &:hover {
      background: $theme-white-hover;
    }
  }

  &-transparent {
    background: $theme-transparent;
    box-shadow: none;
    color: $theme-dark;

    &:hover {
      background: $theme-transparent-hover;
      box-shadow: none;
      color: $theme-black;
    }
  }
}
