.input {
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 16px;
  border: 1px solid transparent;
  color: black;

  &-outline {
    border: 1px solid $theme-border;
    background-color: transparent;
  }

  &-shadow {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  }

  &-light {
    background: $theme-light;

    &:hover {
      background: $theme-light-hover;
    }
  }

  &-dark {
    background: $theme-dark;
    color: white;
    &:hover {
      background: $theme-dark-hover;
    }
  }

  &-green {
    background: $theme-green;
    &:hover {
      background: $theme-green-hover;
    }
  }

  &-blue {
    background: $theme-blue;
    &:hover {
      background: $theme-blue-hover;
    }
  }

  &-yellow {
    background: $theme-yellow;
    &:hover {
      background: $theme-yellow-hover;
    }
  }

  &-black {
    background: $theme-black;
    &:hover {
      background: $theme-black-hover;
    }
  }

  &-white {
    background: $theme-white;
    &:hover {
      background: $theme-white-hover;
    }
  }

  &-transparent {
    background: $theme-transparent;
    box-shadow: none;
    color: $theme-dark;

    &:hover {
      background: $theme-transparent-hover;
      box-shadow: none;
      color: $theme-black;
    }
  }
}
