.profile {
  text-align: center;
  padding: 16px;

  &-header {
  }

  &-img {
    border-radius: 50%;
    width: 100px;
    border: 1px solid $theme-border;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }

  &-projects {
    width: 100%;
    display: block;
  }
}
