.project {
  &-new {
  }

  &-stages {
    margin-top: $wrapper-top-height;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  &-stage {
    width: auto;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    font-size: 16px;
    border: 2px solid transparent;
    color: black;
    height: 120px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      font-size: 40px;
      text-align: left;
      color: $theme-dark;
    }

    &-cardscount {
      font-size: 20px;
      text-align: end;
      color: $theme-black;
    }

    &-shadow {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
    }

    &-light {
      background: $theme-light;

      &:hover {
        background: $theme-light-hover;
      }
    }

    &-yellow {
      background: $theme-yellow;
      &:hover {
        background: $theme-yellow-hover;
      }
    }

    &-green {
      background: $theme-green;
      &:hover {
        background: $theme-green-hover;
      }
    }

    &-selected {
      border: 2px solid $theme-border;
      box-shadow: none;

      &:hover {
        border: 2px solid $theme-border;
        box-shadow: none;
      }
    }
  }

  &-info {
    padding: 16px;
    margin: 8px;
    border-radius: 16px;
    background: $theme-light;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

    &-title {
      font-size: 20px;
      margin-bottom: 8px;
    }

    &-description {
      margin-bottom: 16px;
    }

    &-footer {
      display: flex;
      justify-content: end;
    }
  }

  &-item {
    display: flex;
    width: auto;
    text-align: center;
    margin-bottom: 12px;
    padding: 20px;
    border-radius: 12px;
    font-size: 16px;
    color: black;
    border: 1px solid $theme-border;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background: $theme-light;
    position: relative;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    &-progress {
      background-color: $theme-green;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 11px;
    }

    &-title {
      font-size: 18px;
      color: $theme-dark;
      z-index: 1;
    }

    &-cardscount {
      font-size: 24px;
      color: $theme-dark;
      z-index: 1;
    }
  }
}
